@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto+Mono:wght@300;400;500&display=swap');
:root{
    --main-color:rgb(98, 127, 182);
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family:  'Golos Text', sans-serif; 
}

.main-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem; 
   
}


.img-container{
    width: 353px;
    height: 560px;
    text-align: center;
    box-shadow: 0 0 5px 2px rgb(228, 225, 225);
    
}

/* object fit para q la img se adapte a su div contenedor sin deformarse */
.img-container img{
    width: 87%;
    height: 50%;
    margin-top: 17px ;
    margin-bottom: 13px;
    object-fit: cover;  
}


.text-container{
    margin: 0px 30px;
}

.text-container p{
    margin-bottom: 5px;
}


.cont-tags{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags{
    margin: 5px;
    padding: 5px 0px;
    width: 150px;
    text-align:center;
    cursor: pointer;
    color: white;
    background-color: var(--main-color);
    border-radius: 20px;
    
}
.tags:hover{
    transform: scale(1.1);
}